/* bananestyle.css is the file containing the style sheet info
for the banane online documentation. it is used by all other web 
display files */

body {
  /*padding-left: 11em;*/
  font-family: Georgia, "Times New Roman",
  Times, serif;
  color: black;
  background-color: white } /*#d8da3d }*/
ul.navbar { /* navbar is not used yet, stems from example code but kept here just in case it will be revived */ 
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
  SunSans-Regular, sans-serif; 
  font-size: 120%}
code {
  white-space: pre } /*make CODE environment respect whitespace to enable verbatim printing of code snippets in starred header lines*/
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

DIV.logo { text-align: center }

DIV.header section { font-weight: bold }