/* 
bananestyle.css is the file containing the style sheet info
for the banane online documentation. it is also responsible for the 
positioning of the various elements of the page
$Id$
*/

/* general settings */
html,body {
  text-align: center;
  background: #ffffff;
  color: #737373;
  font-family: helvetica, arial, sans-serif;
  font-size: 8pt;
  line-height : 2.5ex;
  height: 100%;
}

a:link, a:visited, a:active {
  text-decoration: none ;
  color: #737373;
}

a:hover {
  text-decoration: underline; 
  color: #737373;
}



/* the centered region which contains everything else */
div.content {
  /*position: relative;
  top:15px;*/
  width:751px;
  height:745px;
  /*margin:0 auto;*/
  text-align:left;
  background-image:url('Pics/frame.gif');
  background-repeat:no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -376px; 
  /* Half the width of the DIV tag which is 50 pixels */
  margin-top: -373px; 
  /* Half the height of the DIV tag which is also 50 pixels */
}

div.content h1 {
  font-size:100%;  
  font-weight:bold;
}

/* link behind the banane logo */
a#linkhome {
  position: absolute;
  top: 32px;
  left: 3px;
  height: 35px;
  width: 165px;
  /* border: 1px solid #5c0000; */
}



/* headline contains links to about, blog, members */
div.headline {
  position: absolute;
  top: 103px;
  left: 166px;
  height: 15px;
  width: 300px;
/*  bottom: 560px;
  right: 274px; */
  padding: 0px;
  text-align:left;
  word-spacing:1.2em; 
  font-weight:bold; 
  border: 1px solid #5c0000;
}



/* search input form, in the same line as headline, but right-aligned */
div.search {
  position: absolute;
  top: 99px;
  left: 580px;
/*  bottom: 560px;
  right: 69px; */
  height: 18px;
  width: 138px;
  padding: 0px;
  text-align:right;
  font-weight:bold;
  border: 1px solid #5c0000;
}

.search input {
  color: black;
  background: #f9f9f9;
  border: 1px solid #5c5c5c;
  width:75px;
  padding: 0px;
  vertical-align: baseline;
}



/* the title line of the directory navigation region */ 
div.navigation_head {
  position: absolute;
  top: 103px;
  left: 30px;
  height: 15px;
  width: 115px;
  padding: 0px;
  text-transform: lowercase;
  /*border: 1px solid #5c0000;*/
}



/* the main part of the directory navigation region */
div.navigation {
  position: absolute;
  top: 134px;
  left: 28px;
  bottom: 69px;
  right: 625px;
  padding: 0px;
  text-transform: lowercase;
  overflow: auto; 
  line-height:160%;
  border: 1px solid #5c0000;
}



/* the bottom region containing some links */
div.bottom {
  position: absolute;
  top: 687px;
  left: 430px;
  bottom: 0px;
  right: 37px;
  padding: 0px;
  text-align: right;
  font-size: 85%; 
  border: 1px solid #5c0000;
}



/* the main part of the webpage which dynamically changes its contents */
div.main {
  position: absolute;
  top: 135px;
  left: 166px;
  height: 520px;
  width: 552px;
  /*bottom: 69px;
  right: 52px;*/
  padding-right: 15px;
  overflow: auto;
  line-height : 2.5ex;
  text-align:justify;
  border: 1px solid #5c0000;
}

div.main h1 {
  margin-top: 0px;
  margin-bottom: 1ex;
}

.main a:link, .main a:visited, .main a:active {
  font-weight: normal ;
  text-decoration: underline ;
}

.main a:hover {
  font-weight: normal ;
  text-decoration: underline; 
  color: #000000;
}

.main table { 
  font-size: 100%;
  border-collapse: collapse;
}

.main td {
  padding: 0px;
  padding-bottom: 0.5ex;
  border: 0px;
}

.main td.left {
  padding-right: 0.7em;
}


/* the code environment is used to typeset the header lines 
marked with a star */
code {
  font-family: courier,serif;
  white-space: pre } /*make CODE environment respect whitespace to enable verbatim printing of code snippets in starred header lines*/



/* style for header sections like NAME, AIM, SYNTAX and so on */
.head sec { font-weight: bold }
