/* bananestyle.css is the file containing the style sheet info
for the banane online documentation. it is used by all other web 
display files */


/* general settings */
body {
  font-family: helvetica, arial,sans-serif;
  font-size: 10pt;
  color: #565656; /*special banane grey*/
  background-color: white 
}

h1 {
  font-size: 100%;
  font-weight: bold
}

a:link, a:visited, a:active {
  font-weight: normal ;
  text-decoration: none ;
  color: #565656;
}
a:hover {
  font-weight: normal ;
  text-decoration: underline; 
  color: #565656;
}

/* settings concerning the navigation bar introduced in the links.php script */
.navbar { 
  position: absolute;
  top: 180px; 
  left: 17px; 
  height: 375px; 
  width: 116px;
  font-size: 10pt;
 }

.navbar h1 {
  padding: 0px;
  margin: 0px;
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  margin-bottom: 3ex;
  list-style-type: none;
  text-transform: lowercase;
}

.navbar a:link, .navbar a:visited, .navbar a:active {
  font-weight: normal ;
  text-decoration: none ;
  color: #565656;
}
.navbar a:hover {
  font-weight: normal ;
  text-decoration: underline; 
  color: #565656;
}

.navbar input
{
color: #781351;
background: #999999;
border: 1px solid #565656;
}

.navbar submit input
{
color: #000;
background: #ffa20f;
border: 2px outset #d7b9c9
}


/* the code environment is used to typeset the header lines marked with a star */
code {
  font-family: courier,serif;
  white-space: pre } /*make CODE environment respect whitespace to enable verbatim printing of code snippets in starred header lines*/


/* settings for the dynamic environment that is used in the large
main frame on the right of the banane page */ 
.dynamic { 
  padding: 0px;
  margin: 37px 20px 20px 20px;
 }

.dynamic p { 
  font-size: 100%;
 }

.dynamic table { 
  font-size: 90%;
 }

.dynamic a:link, .dynamic a:visited, .dynamic a:active {
  font-weight: normal ;
  text-decoration: underline ;
  color: #565656;
}
.dynamic a:hover {
  font-weight: normal ;
  text-decoration: underline; 
  color: black;
}

/* style for header sections like NAME, AIM, SYNTAX and so on */
.head sec { font-weight: bold }